@page
@model WebApp.Pages.MyProjectPages.IndexModel
@{
    ViewData["Title"] = "Default page in My Project";
}
<h1>Sample Default Page</h1>

<p>
    This is the same as your default page within your web page subfolder
    for your scenario in the group project.
</p>
<p>On this page would go: bugs, unknown problem, etc.</p>
<img src="~/img/ChinookMusic.jpg"
     alt="Logo Image"/>
